@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Minion Pro";
  src: url("../minionPro/MinionPro-Bold.otf");
  src: url("../minionPro/MinionPro-Regular.otf");
  src: url("../minionPro/MinionPro-Semibold.otf");
  src: url("../minionPro/MinionPro-Medium.otf");
}
a {
  text-decoration: none !important;
}

.top_nav_div {
  background-color: #191613;
  padding: 1rem 0;
}
.top_nav_div .logo {
  width: 293px;
  height: 96.968px;
}
.top_nav_div .top_nav_input_div_col {
  display: flex;
  align-items: center;
}
.top_nav_div .top_nav_input_div {
  display: flex;
  position: relative;
  width: 100%;
}
.top_nav_div .top_nav_input_div input::-moz-placeholder {
  color: #b0b0b0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top_nav_div .top_nav_input_div input::placeholder {
  color: #b0b0b0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top_nav_div .top_nav_input_div img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.btn_1 {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  border: 1px solid #fffdf8;
  padding: 10px 40px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.btn_1:hover {
  transition: all 0.3s ease-in-out;
  color: #fffdf8;
  transition: all 0.3s ease-in-out;
  background-color: #b2674c;
  border-color: #b2674c;
}

.btn_2 {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  border: 1px solid #b2674c;
  padding: 10px 40px;
  background-color: #b2674c;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.btn_2:hover {
  transition: all 0.3s ease-in-out;
  color: #fffdf8;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border-color: #fffdf8;
}

.btn_col_div {
  display: flex;
  align-items: center;
}

.top_nav_btn_div {
  display: flex;
  width: 100%;
}
.top_nav_btn_div a {
  margin: auto;
}

.my_dropdown_products .dropdown-menu {
  padding: 0;
}
.my_dropdown_products .dropdown-menu ul {
  list-style: none;
  padding: 0;
}
.my_dropdown_products .dropdown_menu_inner {
  display: flex !important;
}
.my_dropdown_products .dropdown_menu_inner ul {
  padding: 1rem;
}
.my_dropdown_products .dropdown_menu_inner ul li p {
  margin-bottom: 5px;
  color: #b3aba4;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.my_dropdown_products .menu_title {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}
.my_dropdown_products .dropdown-item {
  padding: 0;
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 250% */
  letter-spacing: 0.2px;
  transition: all 0.3s ease-in-out;
}
.my_dropdown_products .dropdown-item:hover {
  color: #b2674c;
}
.my_dropdown_products .dropdown-item:focus,
.my_dropdown_products .dropdown-item:hover {
  background-color: transparent;
}
.my_dropdown_products .menu_ul_div {
  width: 15rem;
}
.my_dropdown_products .ul_2 {
  margin-top: 1.9rem;
}
.my_dropdown_products .ul_color {
  background: #fffdf8;
}
.my_dropdown_products label {
  background-color: #000000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.my_dropdown_products .color_li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 10rem;
}
.my_dropdown_products .color_li_a {
  align-self: flex-start;
  flex-direction: row;
  min-width: 21%;
  margin-bottom: 10px;
  margin-top: 6px;
}

.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
  z-index: 10;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.logo_mobile {
  width: 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mobile_menu_div {
  display: flex;
  justify-content: start;
  align-items: center;
}
.mobile_menu_div i {
  cursor: pointer;
  font-size: 25px;
}

.mobile_menu_div2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile_menu_div2 i {
  cursor: pointer;
  font-size: 25px;
}

.mobile_menu_div_top {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav_bg {
  background-color: #fffdf8;
  padding-left: 1rem;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.15);
}
.nav_bg .navbar-nav li {
  margin-right: 10px;
}
.nav_bg .navbar-nav li .nav-link {
  color: #616161;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.78px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.nav_bg .navbar-nav li .nav-link:hover {
  color: #191613;
  text-decoration: underline !important;
}

.navbar_nav_activ {
  color: #191613 !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
}

.nav_ul_div {
  display: flex;
}

.btn_logout {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_logout img {
  width: 17.417px;
  height: 17.417px;
}
.btn_logout span {
  color: #191613;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.btn_logout::after {
  display: none;
}

.btn_logout_div ul {
  right: 0;
}
.btn_logout_div ul li {
  margin-right: 0 !important;
}
.btn_logout_div ul li .dropdown-item {
  text-transform: capitalize;
  color: #191613;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn_logout_div .dropdown-item:focus,
.btn_logout_div .dropdown-item:hover {
  background-color: #f5eedd;
}

.drowpdown_text {
  background-color: #f5eedd;
}

.mobile_Products .dropdown-menu {
  background-color: transparent;
  padding: 0;
  border: 0;
}
.mobile_Products ul li .dropdown-item {
  color: #b3aba4;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 0;
}

.slide_div_index {
  position: relative;
}
.slide_div_index .owl-dots {
  margin-top: -2rem !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35rem;
  width: 100%;
}

.banner_img_div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_img_div h1 {
  margin-bottom: 0;
  color: #fffdf8;
  text-align: center;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 85px;
  position: absolute;
  top: auto;
}
.banner_img_div h1 .span1 {
  border: 1px solid white;
  padding: 0 27px;
  border-radius: 25px;
}
.banner_img_div h1 label {
  border: 1px solid white;
  padding: 0 27px;
  border-radius: 25px;
  padding-bottom: 5px;
}

.banner_br {
  display: none;
}

.title_div {
  text-align: center;
}
.title_div h2 {
  color: #fffdf8;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.shop_top_div {
  background: #191613;
  padding: 3rem 0;
}

.index_shop_card .index_shop_card_inner {
  width: 100%;
  height: 11rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.index_shop_card img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-in-out;
}
.index_shop_card .card_text {
  position: relative;
}
.index_shop_card .card_text p {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
  width: 10rem;
}
.index_shop_card .card_text i {
  color: #f18861;
  font-size: 23px;
  position: absolute;
  top: 2px;
  right: 10px;
}

.index_shop_card_link:hover .index_shop_card img {
  transform: scale(1.5);
}

.print_brand_top_div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 48rem;
  background-image: url("../img/index3.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.print_brand_inner_div {
  text-align: center;
  width: 38rem;
}
.print_brand_inner_div h2 {
  color: #191613;
  text-align: center;
  font-family: Minion Pro;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 84px;
  letter-spacing: 1.6px;
}
.print_brand_inner_div h2 span {
  border: 1px solid;
  padding: 0 45px;
  border-radius: 70px;
}
.print_brand_inner_div h3 {
  color: #282828;
  text-align: center;
  font-family: Minion Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1px;
}
.print_brand_inner_div p {
  color: #02151c;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 6rem;
}

.btn_3 {
  color: #191613;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  border: 1px solid #191613;
  padding: 10px 40px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.btn_3:hover {
  transition: all 0.3s ease-in-out;
  color: #fffdf8;
  transition: all 0.3s ease-in-out;
  background-color: #191613;
  border-color: #191613;
}

.our_story_top_div {
  background-color: #191613;
  padding: 8rem 0;
}

.our_story_text_1 {
  text-align: end;
  padding-right: 2rem;
}
.our_story_text_1 h2 {
  color: #fffdf8;
  text-align: right;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.our_story_text_1 h2 span {
  border: 1px solid;
  padding: 0 45px;
  border-radius: 70px;
}
.our_story_text_1 p {
  color: #fffdf8;
  text-align: right;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 3rem;
}

.our_story_inner_div {
  display: flex;
  margin: 0 11rem;
}
.our_story_inner_div .our_story_big_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 418px;
  height: 556px;
}

.our_story_text_2 {
  padding-left: 2rem;
}
.our_story_text_2 img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 294px;
  height: 327px;
  margin-bottom: 1rem;
}
.our_story_text_2 p {
  color: #fffdf8;
  font-family: Minion Pro;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.68px;
  margin-bottom: 0;
}

.customer_div {
  background-color: #fffdf8;
  padding: 8rem 0;
}
.customer_div .owl-carousel .owl-nav button.owl-next,
.customer_div .owl-carousel .owl-nav button.owl-prev,
.customer_div .owl-carousel button.owl-dot {
  padding: 10px 18px !important;
}

.customer_user_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 52rem;
}
.customer_user_div h2 {
  color: #191613;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 142.857% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.customer_user_div h3 {
  color: #191613;
  text-align: center;
  font-family: Minion Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 138.889% */
  letter-spacing: 0.72px;
}
.customer_user_div p {
  color: #191613;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.customer_user_div label {
  color: #191613;
  text-align: center;
  font-family: Minion Pro;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.56px;
}
.customer_user_div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer_user_div ul li i {
  margin-right: 3px;
  font-size: 14px;
}

.customer_user_top_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_slider_btn {
  position: relative;
}
.all_slider_btn .owl-prev {
  position: absolute;
  top: 35%;
  left: 7rem;
  border: 1px solid #191613 !important;
  transition: all 0.3s ease-in-out !important;
}
.all_slider_btn .owl-prev:hover {
  background-color: #191613 !important;
}
.all_slider_btn .owl-prev img {
  width: 46px;
}
.all_slider_btn .owl-next {
  position: absolute;
  top: 35%;
  right: 7rem;
  border: 1px solid #191613 !important;
  transition: all 0.3s ease-in-out !important;
}
.all_slider_btn .owl-next:hover {
  background-color: #191613 !important;
}
.all_slider_btn .owl-next img {
  width: 46px;
}

.contact_form_div {
  background-image: url("../img//index6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 7rem 12rem;
}

.contact_form_inner_div {
  background: #191613;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.4);
  padding: 7rem;
  border-radius: 6px;
}
.contact_form_inner_div .form-control:focus {
  color: white;
  background-color: transparent;
  border-color: #979797;
  outline: 0;
  box-shadow: none;
}
.contact_form_inner_div .form-select:focus {
  border-color: #979797;
  outline: 0;
  box-shadow: none;
}
.contact_form_inner_div input {
  background-color: transparent;
  border-color: #979797;
  border: none;
  border-bottom: 1.5px solid #979797;
  border-radius: 0%;
}
.contact_form_inner_div input::-moz-placeholder {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.contact_form_inner_div input::placeholder {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.contact_form_inner_div textarea {
  background-color: transparent;
  border-color: #979797;
  border: none;
  border-bottom: 1.5px solid #979797;
  border-radius: 0%;
}
.contact_form_inner_div textarea::-moz-placeholder {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.contact_form_inner_div textarea::placeholder {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.contact_form_inner_div .select_div {
  position: relative;
}
.contact_form_inner_div .select_div select {
  background-color: transparent;
  border-color: #979797;
  border: none;
  border-bottom: 1.5px solid #979797;
  border-radius: 0%;
  background-image: none;
  color: #fffdf8;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.contact_form_inner_div .select_div img {
  position: absolute;
  top: 8px;
  right: 0;
  width: 31px;
}

.patner_div {
  background-color: #fffdf8;
  padding: 8rem 0;
}
.patner_div .owl-carousel .owl-nav button.owl-next,
.patner_div .owl-carousel .owl-nav button.owl-prev,
.patner_div .owl-carousel button.owl-dot {
  padding: 10px 18px !important;
}
.patner_div .owl-carousel .owl-dots.disabled,
.patner_div .owl-carousel .owl-nav.disabled {
  display: none;
}

.patner_img {
  width: 180px !important;
  height: 150px;
}

.recognized_img_div .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find_perfect_bags {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find_perfect_bags_img {
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.find_perfect_bags_text_div {
  position: absolute;
  top: auto;
  width: 56rem;
}
.find_perfect_bags_text_div h2 {
  color: #fffdf8;
  text-align: center;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.find_perfect_bags_text_div .find_perfect_bags_input_div {
  display: flex;
  position: relative;
  width: 100%;
}
.find_perfect_bags_text_div .find_perfect_bags_input_div input::-moz-placeholder {
  color: #b0b0b0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.find_perfect_bags_text_div .find_perfect_bags_input_div input::placeholder {
  color: #b0b0b0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.find_perfect_bags_text_div .find_perfect_bags_input_div img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.find_perfect_bags_input_div_top {
  padding: 0 12rem;
}

.footer_top_div {
  background-color: #191613;
  padding: 6rem 0;
}

.footer_content_top_div img {
  width: 248px;
  height: 77.442px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.footer_content_top_div p {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}

.footer_link_div p {
  color: #fffdf8;
  font-family: Minion Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.footer_link_div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer_link_div ul li .p_text {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.32px;
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;
}
.footer_link_div ul li .p_text span {
  margin-right: 10px;
}
.footer_link_div ul li .p_text span i {
  font-size: 22px;
  color: white;
}
.footer_link_div ul li a {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.32px;
  transition: all 0.3s ease-in-out;
}
.footer_link_div ul li a:hover {
  color: #b2674c;
}

.social_link_footer {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.social_link_footer a {
  margin-right: 30px;
}
.social_link_footer a i {
  color: #fffdf8;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
.social_link_footer a i:hover {
  color: #c2d401;
}

.footer_copyright {
  background: #000;
}
.footer_copyright a {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.28px;
}

.about_text_top_div {
  background-color: #191613;
  padding: 3rem 0;
}
.about_text_top_div .about_text_link_div {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.about_text_top_div .about_text_link_div a {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  transition: all 0.3s ease-in-out;
}
.about_text_top_div .about_text_link_div a:hover {
  color: #c2d401;
}
.about_text_top_div .about_text_link_div span {
  color: white;
  margin: 0 5px;
}
.about_text_top_div .about_text_link_div p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  margin-bottom: 0;
}

.about_inner_text_left_div h2 {
  color: #fff;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.about_inner_text_left_div h3 {
  color: #fff;
  font-family: Minion Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 137.5% */
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.about_inner_text_left_div p {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 0;
}

.about_text_right_img_col {
  text-align: center;
}

.about_text_right_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 317.695px;
  height: 475px;
}

.about_bottom_text_div {
  align-items: baseline;
  margin-top: 3rem;
}
.about_bottom_text_div .title {
  color: #fff;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 125% */
  letter-spacing: 1.4px;
  text-transform: capitalize;
  margin-bottom: 0;
}
.about_bottom_text_div .text {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 0;
}

.about_apart_top_div {
  padding: 3rem 0;
}

.about_apart_card {
  background-color: #f5eedd;
  padding: 2rem 2rem;
  border-radius: 6px;
}
.about_apart_card img {
  width: 28.333px;
  height: 33.059px;
  margin-bottom: 2rem;
}
.about_apart_card h2 {
  margin-bottom: 1rem;
  color: #191613;
  font-family: Minion Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
}
.about_apart_card p {
  color: #191613;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.about_apart_card p b {
  color: #b2674c;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}

.forgot_input_div {
  position: relative;
}
.forgot_input_div .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #979797;
  outline: 0;
  box-shadow: none;
}
.forgot_input_div i {
  position: absolute;
  font-size: 22px;
  color: #979797;
  top: 13px;
  left: 0;
}
.forgot_input_div img {
  position: absolute;
  width: 20px;
  color: #979797;
  top: 10px;
  left: 0;
}
.forgot_input_div input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #979797;
  border-radius: 0;
  padding-left: 33px;
  color: #979797 !important;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-bottom: 1.5rem;
}
.forgot_input_div input::-moz-placeholder {
  color: #979797;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.forgot_input_div input::placeholder {
  color: #979797;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.forgot_input_div small {
  color: #616161;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.forgot_input_btn_div {
  margin-top: 3rem;
}
.forgot_input_btn_div .btn_2 {
  margin-right: 5px;
}
.forgot_input_btn_div .btn_2:hover {
  color: #000;
  border-color: black;
}
.forgot_input_btn_div .btn_3 {
  margin-left: 5px;
}

.forgot_input_top_div {
  padding: 0 24rem;
}

.reset_input_div {
  position: relative;
}
.reset_input_div .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #979797;
  outline: 0;
  box-shadow: none;
}
.reset_input_div i {
  position: absolute;
  font-size: 22px;
  color: #979797;
  top: 13px;
  right: 0;
  cursor: pointer;
}
.reset_input_div input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #979797;
  border-radius: 0;
  padding-right: 33px;
  color: #979797 !important;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.reset_input_div input::-moz-placeholder {
  color: #979797;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.reset_input_div input::placeholder {
  color: #979797;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.reset_input_btn_div {
  margin-top: 3rem;
}
.reset_input_btn_div .btn_2 {
  margin-right: 5px;
}
.reset_input_btn_div .btn_2:hover {
  color: #000;
  border-color: black;
}
.reset_input_btn_div .btn_3 {
  margin-left: 5px;
}

.my_account_input_div {
  position: relative;
}
.my_account_input_div .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #979797;
  outline: 0;
  box-shadow: none;
}
.my_account_input_div input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #979797;
  border-radius: 0;
  color: #979797 !important;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-bottom: 1.5rem;
}
.my_account_input_div input::-moz-placeholder {
  color: #979797;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.my_account_input_div input::placeholder {
  color: #979797;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.my_account_input_div a {
  position: absolute;
  top: 16px;
  right: 0;
  color: #b2674c;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  transition: all 0.3s ease-in-out;
}
.my_account_input_div .pas_input {
  padding-right: 11rem;
}

.my_account_input_btn_div {
  text-align: start;
}
.my_account_input_btn_div .btn_2 {
  margin-right: 5px;
}
.my_account_input_btn_div .btn_2:hover {
  color: #000;
  border-color: black;
}
.my_account_input_btn_div .btn_3 {
  margin-left: 5px;
}

.my_account_title_div {
  position: relative;
  text-align: start;
}
.my_account_title_div .btn_3 {
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 0;
}
.my_account_title_div .btn_3:hover {
  background-color: #191613;
}

.my_account_readonly .form-control:focus {
  color: #212529;
  background-color: #e9ecef;
  border-color: #979797;
  outline: 0;
  box-shadow: none;
}

.create_new_account_title_div {
  text-align: start;
}

.my_check {
  color: #616161;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.my_check a {
  color: #b2674c;
}

.login_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 34rem;
}

.login_top_div {
  padding: 3rem;
}
.login_top_div h2 {
  color: #191613;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px; /* 150% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.login_top_div .forgot_input_div i {
  left: auto;
}
.login_top_div .login_eye i {
  position: absolute;
  font-size: 22px;
  color: #979797;
  top: 20px;
  right: 0;
  cursor: pointer;
}

.contact_info_div {
  position: relative;
}

.contact_info_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.contact_info_text {
  text-align: center;
}
.contact_info_text h2 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 125% */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.contact_info_text p {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  letter-spacing: 0.4px;
}
.contact_info_text hr {
  opacity: 1;
  background-color: #191613;
}

.contact_info_inner_div {
  position: absolute;
  top: 45%;
  width: 100%;
  padding: 0 8rem;
}

.contact_partners_div .patner_div {
  padding-top: 0;
}

.page_top_banner_div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_top_banner_div .page_top_banner_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.page_top_banner_text {
  position: absolute;
  top: auto;
  text-align: center;
  margin: 0 18rem;
}
.page_top_banner_text h1 {
  color: #fff;
  text-align: center;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px; /* 151.786% */
  text-transform: uppercase;
}
.page_top_banner_text h1 span {
  border: 1px solid white;
  padding: 0 27px;
  border-radius: 25px;
}
.page_top_banner_text img {
  width: 89px;
  height: 50px;
}

.faq_text_div {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.faq_text_card_div {
  position: relative;
  padding-left: 48px;
}
.faq_text_card_div h2 {
  color: #191613;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.faq_text_card_div p {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.faq_text_card_div p b {
  color: #b2674c;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}
.faq_text_card_div hr {
  opacity: 1;
  margin-top: 3rem;
  color: #191613;
}
.faq_text_card_div span {
  color: rgba(0, 0, 0, 0.12);
  text-align: center;
  font-family: Minion Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px; /* 132.813% */
  text-transform: uppercase;
  position: absolute;
  top: -40px;
  left: 0;
}

.privacy_policy_text_top {
  padding: 6rem 0;
}
.privacy_policy_text_top .about_inner_text_left_div {
  text-align: start;
}

.privacy_policy_accordion_div {
  background-color: #fffdf8;
  padding: 6rem 15rem;
}
.privacy_policy_accordion_div .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}
.privacy_policy_accordion_div .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
.privacy_policy_accordion_div .accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.privacy_policy_accordion_div .accordion-item {
  background-color: #fffdf8;
  border-bottom: 1px solid #191613 !important;
  border: none;
}
.privacy_policy_accordion_div .accordion-button:not(.collapsed) {
  color: black;
  background-color: #fffdf8;
  box-shadow: none;
}
.privacy_policy_accordion_div .accordion-body {
  background-color: #fffdf8;
  padding-bottom: 2.5rem;
}
.privacy_policy_accordion_div .accordion-body h3 {
  color: #191613;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
}
.privacy_policy_accordion_div .accordion-body li {
  color: #191613;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
}
.privacy_policy_accordion_div .accordion-button {
  background-color: #fffdf8;
  padding: 1.5rem 1.25rem;
  color: #191613;
  font-family: Minion Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.trems_and_condition_tab_div {
  display: flex;
}
.trems_and_condition_tab_div .nav-pills .nav-link.active,
.trems_and_condition_tab_div .nav-pills .show > .nav-link {
  color: #b2674c;
  background-color: transparent;
}
.trems_and_condition_tab_div .nav-link {
  color: #191613;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 333.333% */
  letter-spacing: 0.6px;
  text-transform: capitalize;
  padding: 0;
  text-align: start;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.trems_and_condition_tab_div .nav-link:hover {
  color: #b2674c;
}
.trems_and_condition_tab_div .nav {
  display: block;
}

.trems_and_condition_text_div {
  padding: 6rem 6rem;
  overflow: scroll;
  height: 60rem;
}
.trems_and_condition_text_div h2 {
  color: #191613;
  font-family: Minion Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px; /* 212.5% */
  text-transform: uppercase;
}
.trems_and_condition_text_div ul li {
  color: #191613;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 1rem;
}

.trems_and_condition_top_div {
  background-color: #f5eedd;
  width: 45rem;
  padding: 6rem 6rem;
}

.trems_and_condition_btn_div {
  overflow: scroll;
  height: 54rem;
}

.trems_and_condition_text_div2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.trems_and_condition_text_div2 h2 {
  color: #191613;
  font-family: Minion Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 85px; /* 212.5% */
  text-transform: uppercase;
}
.trems_and_condition_text_div2 ul li {
  color: #191613;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 1rem;
}

.custom_bag_banner_top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_bag_banner_top img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.custom_bag_banner_text {
  position: absolute;
  top: auto;
  text-align: center;
  padding: 0 17rem;
}
.custom_bag_banner_text h2 {
  color: #fffdf8;
  text-align: center;
  font-family: Minion Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 85px; /* 151.786% */
  letter-spacing: 1.4px;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.custom_bag_banner_text h2 span {
  border: 1px solid white;
  padding: 0 27px;
  border-radius: 25px;
  text-transform: capitalize;
}

.service_top_div {
  padding: 7rem 7rem;
  background-color: #fffdf8;
}

.service_title_div {
  text-align: center;
  margin-bottom: 3rem;
}
.service_title_div h2 {
  color: #02151c;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 156.25% */
  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.service_inner_div {
  background-color: #191613;
  padding: 2rem;
  border-radius: 6px;
}

.service_text_box {
  border-left: 0px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 1.5rem;
}
.service_text_box h3 {
  color: #fffdf8;
  font-family: Minion Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 141.667% */
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.service_text_box p {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.service_text_box p b {
  color: #b2674c;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}

.service_text_box_1 {
  border-left: 1px solid white;
}

.img {
  width: 5rem;
  display: block;
  height: 5rem;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
}

.img-display {
  overflow: hidden;
  width: 30rem;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
  height: 29rem;
}

.img-select {
  display: flex;
  margin-top: 2rem;
}

.img-item:hover {
  opacity: 0.8;
}

.product_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-item-mid {
  margin: 0rem 2rem;
}

.product_text_top_div h1 {
  color: #191613;
  font-family: Minion Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product_text_top_div h2 {
  color: #726f6c;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.product_text_top_div p {
  color: #191613;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
  margin-bottom: 4rem;
  margin-top: 5rem;
}
.product_text_top_div p a {
  color: #b2674c;
}
.product_text_top_div ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.product_text_top_div ul li {
  color: #191613;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
}
.product_text_top_div ul .select_div {
  margin: 0 1rem;
}

.product_text_title_div {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.product_text_title_div h2 {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.product_text_title_div img {
  width: 24px;
  height: 24.067px;
  margin-right: 1rem;
}

.product_text_3_div {
  margin: 2rem 0;
}
.product_text_3_div h3 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
}
.product_text_3_div p {
  color: #191613;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.28px;
  margin-bottom: 0;
}
.product_text_3_div ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}
.product_text_3_div ul .li_first {
  width: 13rem;
}
.product_text_3_div ul li {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 250% */
  letter-spacing: 0.84px;
  text-transform: capitalize;
}

.link_div {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.link_div a {
  color: #b2674c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  text-decoration-line: underline !important;
  text-transform: capitalize;
}

.product_bottom_title_div {
  margin-bottom: 3rem;
}
.product_bottom_title_div h3 {
  color: #191613;
  font-family: Minion Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.top_page_link {
  color: #191613;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
  margin-left: 5rem;
  margin-bottom: 2rem;
}
.top_page_link span {
  font-weight: 400;
}

.product_page_top_div {
  background-color: #191613;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.product_page_accordion_did .accordion-button::after {
  background-image: url("../img/p.svg");
  transform: scale(0.7) !important;
}
.product_page_accordion_did .accordion-button:not(.collapsed)::after {
  background-image: url("../img/m.svg");
}
.product_page_accordion_did .accordion-item {
  background-color: transparent;
  border: none;
}
.product_page_accordion_did .accordion-button {
  padding: 0;
  background-color: transparent;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 285.714% */
  text-transform: capitalize;
}
.product_page_accordion_did .accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.product_page_accordion_did .accordion-button:not(.collapsed) {
  color: white;
}
.product_page_accordion_did .nav {
  flex-direction: column;
}
.product_page_accordion_did .nav-link {
  color: white;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.24px;
  padding: 0;
}
.product_page_accordion_did .nav-pills .nav-link.active,
.product_page_accordion_did .nav-pills .show > .nav-link {
  color: #b2674c;
  background-color: transparent;
}
.product_page_accordion_did .accordion-body {
  padding: 0;
}
.product_page_accordion_did .nav_link_2 {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.pagination_my {
  justify-content: end;
  align-items: center;
  display: flex;
}
.pagination_my .page-link {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.pagination_my .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #b2674c;
}
.pagination_my .pagination {
  align-items: center;
  margin: 0;
}

.pagination_title {
  display: flex;
  align-items: center;
}
.pagination_title p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-bottom: 0;
}

.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}
.close_modal i {
  color: white;
}
.close_modal:hover {
  border-color: #b2674c;
}
.close_modal:hover i {
  color: #b2674c;
}

.close_modal2 {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}
.close_modal2 i {
  color: white;
}
.close_modal2:hover {
  border-color: #b2674c;
}
.close_modal2:hover i {
  color: #b2674c;
}

.close_modal3 {
  position: absolute;
  top: -2rem;
  right: 0;
  background: transparent;
  outline: none;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}
.close_modal3 i {
  color: white;
}
.close_modal3:hover {
  border-color: #c2d401;
}
.close_modal3:hover i {
  color: #c2d401;
}

.modal_first {
  padding: 0;
  background: #191613;
  padding-right: 1rem;
  position: relative;
}
.modal_first img {
  width: 100%;
  height: 41rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal_first_top_text_div span {
  color: #fff;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.27px;
  text-transform: capitalize;
}
.modal_first_top_text_div span a {
  color: #b2674c !important;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.27px;
  text-decoration-line: underline !important;
  text-transform: capitalize;
  cursor: pointer;
}
.modal_first_top_text_div h3 {
  color: #e3d5c3;
  font-family: Minion Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.modal_first_top_text_div h3 span {
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 8px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: capitalize;
  margin-left: 1rem;
}
.modal_first_top_text_div h3 span i {
  color: #5ca6de;
  border: 1px solid #5ca6de;
  padding: 2px;
  margin-left: 2px;
  border-radius: 100%;
  cursor: pointer;
}
.modal_first_top_text_div input {
  background-color: transparent;
  color: white;
  width: 85%;
  font-family: Poppins;
  text-transform: capitalize;
}
.modal_first_top_text_div p {
  color: #fff;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.66px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.modal_first_top_text_div p span {
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: capitalize;
}

.modal_first_top_check_div label {
  color: white;
  font-family: Poppins;
}

.modal_first_top_check_top_div {
  display: flex;
}
.modal_first_top_check_top_div .modal_first_top_check_div {
  margin-right: 1rem;
}
.modal_first_top_check_top_div .modal_first_top_check_div label {
  display: flex;
  align-items: center;
}
.modal_first_top_check_top_div .modal_first_top_check_div i {
  color: #5ca6de;
  border: 1px solid #5ca6de;
  padding: 2px;
  margin-left: 2px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 8px;
  margin-left: 8px;
}

.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file label {
  border: 0.5px solid #fff;
  padding: 7px 10px;
  border-radius: 6px;
  width: 100%;
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}
.file label img {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 9px;
  top: 8px;
}

.file > input[type=file] {
  display: none;
}

.modal_2_top_text_div .modal-header {
  background: #191613;
  position: relative;
}
.modal_2_top_text_div .modal-header h5 {
  color: #fffdf8;
  font-family: Minion Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.modal_2_top_text_div .modal-header .btn-close {
  box-sizing: content-box;
  width: 0;
  height: 0;
  padding: 0;
  color: white;
  background: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 2rem;
}

.modal_2_div_top h3 {
  color: #b2674c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.modal_2_div_top input {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}
.modal_2_div_top textarea {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

.modal_2_div_inner_new {
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
}

.modal_2_div_inner {
  display: flex;
  align-items: center;
}
.modal_2_div_inner label {
  color: #191613;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin-right: 1rem;
}
.modal_2_div_inner .input_my {
  width: 40%;
}
.modal_2_div_inner input {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}
.modal_2_div_inner small {
  color: #8c8c8c;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  margin-left: 1rem;
}
.modal_2_div_inner select {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}
.modal_2_div_inner p {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-left: 1rem;
}
.modal_2_div_inner p i {
  color: #5ca6de;
  border: 1px solid #5ca6de;
  padding: 2px;
  margin-left: 2px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 8px;
  margin-left: 8px;
}
.modal_2_div_inner .small_input {
  width: 7rem;
}
.modal_2_div_inner .small_input_2 {
  width: 7rem;
  margin-left: 1rem;
}
.modal_2_div_inner .label_big {
  width: 5rem;
}
.modal_2_div_inner .label_big2 {
  width: 6rem;
}

.modal_2_div_inner_2 {
  display: flex;
  align-items: center;
}
.modal_2_div_inner_2 p {
  color: #191613;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin-right: 1rem;
  margin-bottom: 0;
}
.modal_2_div_inner_2 .form-check {
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}
.modal_2_div_inner_2 .form-check label {
  margin-left: 5px;
  cursor: pointer;
}

.modal_2_div_btn {
  margin-top: 1rem;
}
.modal_2_div_btn .btn_2:hover {
  background-color: #000;
  color: white;
}

.file_2 label {
  border-color: #000;
}

.uplode_modal_2_text {
  color: #191613;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin-bottom: 0;
}
.uplode_modal_2_text span {
  color: #8c8c8c;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}

.modal_2_body {
  background: #191613;
  position: relative;
}

.modal_2_body_data {
  margin-top: 2rem;
}
.modal_2_body_data h3 {
  color: #fffdf8;
  font-family: Minion Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.modal_2_body_data ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 1rem;
}
.modal_2_body_data ul .li_1 {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  width: 6rem;
}
.modal_2_body_data ul .li_2 {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.modal_2_body_data .bottom_text {
  color: #fffdf8;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.modal_2_body_data .table {
  background-color: white;
}

.text_modal_close_btn {
  text-align: center;
  margin-top: 1rem;
}
.text_modal_close_btn .btn_2:hover {
  background-color: #000;
  color: white;
}

.text_modal_title {
  color: #191613;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.text_modal_data {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-align: justify;
  max-height: 35rem;
  overflow: scroll;
  height: auto;
}

.search-list-box {
  width: inherit;
  position: absolute;
  top: 2.5rem;
  background: white;
  border-radius: 5px;
  padding: 10px;
  padding-top: 1rem;
  z-index: 9999;
  display: none;
}

.search-list-box2 {
  width: inherit;
  position: absolute;
  top: 2.5rem;
  background: white;
  border-radius: 5px;
  padding: 10px;
  padding-top: 1rem;
  z-index: 9999;
  display: none;
}/*# sourceMappingURL=index.css.map */